@use './mixins' as m;

body, button {
    font-family: 'mainFont', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.2rem;
    // text-transform: uppercase;
}
h1, h2, h3, h4, h5 {
    font-family: 'headingFont', sans-serif;
    text-transform: uppercase;
    line-height: 1;
}
h1 {
    font-size: 3rem;
    @include m.screen(m.$desktop) {
        font-size: 3.5rem;
    }
}
h2 {
    font-size: 2rem;
    @include m.screen(m.$desktop) {
        font-size: 2.5rem;
    }
}