@import '../../../styles/variables';
@import '../../../styles/mixins';

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    &Items {
        display: grid;
        list-style-type: none;
        grid-template-columns: 1fr 1fr;
        li {
            a {
                display: inline-block;
                padding: $padding;
                @include textFilter;
            }
            &:last-child {
                text-align: right;
            }
        }
    }
}