@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.wrapper {
  min-height: 100vh;
  background: #FFF;
  color: #000;
  display: none;
  @include m.screen(m.$tablet) {
        display: block;
    }
}
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  z-index: 1;
}
.scrollSections {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 1px;
  height: auto;
  pointer-events: none;
}
.scrollSection {
  height: 100dvh;
  display: block;
  margin: 0;
  padding: 0;
}
// .section {
    //   height: 100dvh;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   padding: 0 80px;
    // }

// Both Sides
.leftSide,
.rightSide {
  width: 50%;
  position: relative;
  overflow: hidden;
}
.leftContainer,
.rightContainer {
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.leftSlide,
.rightSlide {
  width: 100%;
  height: 100dvh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftContent,
.rightContent {
  z-index: 2;
  aspect-ratio: 2/3;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: v.$padding v.$padding-md;
  justify-content: center;
}
.leftContent {
  justify-content: flex-end;
  color: #FFF;
}
.leftImage,
.rightImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
  z-index: 1;
}

// Content
.year {
  font-size: 1rem;
  margin-bottom: v.$margin;
}
.title {
  // Add these styles for clickable titles
  &[role="button"] {
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
    &:hover {
      transform: translateX(10px);
    }
    
    // Optional: Add an arrow indicator
    &::after {
      content: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzNC4yIDI0Ij4KICA8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMjkuOC4yLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogMi4xLjEgQnVpbGQgMykgIC0tPgogIDxkZWZzPgogICAgPHN0eWxlPgogICAgICAuc3QwIHsKICAgICAgICBmaWxsOiBub25lOwogICAgICAgIHN0cm9rZTogI2ZmZjsKICAgICAgICBzdHJva2UtbWl0ZXJsaW1pdDogMTA7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxwb2x5bGluZSBjbGFzcz0ic3QwIiBwb2ludHM9IjI2LjEgOC4zIDI5LjggMTIgMjYuMSAxNS43Ii8+CiAgPGxpbmUgY2xhc3M9InN0MCIgeDE9IjQuMSIgeTE9IjEyIiB4Mj0iMjkuOCIgeTI9IjEyIi8+Cjwvc3ZnPg==');
      display: inline-block;
      width: 60px;
      opacity: 1;
      margin-left: 1rem;
      transition: opacity 0.3s ease;
      @include m.screen(m.$tablet) {
        opacity: 0;
      }
    }
    
    &:hover::after {
      opacity: 1;
    }
    
    &:focus-visible {
      outline: 2px solid white;
      outline-offset: 8px;
    }
  }
}
// .description {
// }

// Custom
:global(#home) {
    .leftContent, .mobileContent {
        justify-content: center;
        aspect-ratio: unset;
        h2 {
            display: none;
        }
        img {
            width: 250px;
            margin: 0 auto;
            pointer-events: none;
            user-select: none;
            -webkit-user-select: none; // Safari
            -moz-user-select: none;    // Firefox
            -ms-user-select: none;     // IE/Edge
            -webkit-touch-callout: none;
        } 
    } 
}
:global(body) {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
    scroll-behavior: auto;
    @include m.screen(m.$tablet) {
        scroll-snap-type: none;
    } 
}
:global(#contact) {
  .title {
    display: none;
  }
  .mobileContent {
    justify-content: center;
    background-image: none !important;
    color: #000;
  }
  .rightContent {
    text-align: center;
    line-height: 1;
    max-width: 100%;
    p {
      display: block;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 1rem;
      strong {
        font-weight: normal;
        display: block;
      }
      &:not(:last-child) {
        &:after {
          display: block;
          content:'';
          width: 2.5rem;
          margin: 0 auto v.$margin-xl;
          border-bottom: 1px solid rgba(0,0,0,0.15);
        }
      }
    }
    a {
      text-decoration: underline;
      display: inline-block;
      margin-bottom: v.$margin-xl;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// Mobile
.mobileWrapper {
  min-height: 100dvh;
  // This creates the "rigid" snapping feel
  scroll-snap-type: y mandatory;
  // Ensures scrolling is smooth and snappy on iOS
  -webkit-overflow-scrolling: touch;
  // scroll-behavior: smooth;
}
.mobileSection {
  height: 100dvh;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mobileContent {
    padding: v.$padding;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #FFF;
    .rightContent {
      padding: 0;
    }
}
// .mobileImageWrapper {
//   width: 100%;
//   img {
//     width: 100%;
//     height: auto;
//   }
// }


