.section {
    box-sizing: border-box;
    padding: 1rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    gap: 4rem;
    background-color: #000;
}
.logo {
    width: 8em;
}
.text {
    font-size: 1.2rem;
}
.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
}
.links li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.1rem;
}
.links li a:hover {
    text-decoration: underline;
}