@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.nav {
    .logo {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        padding: v.$padding-md;
        opacity: 0;
        transition: 0.3s opacity ease-in-out;
        &.scrolled {
            display:block;
            opacity: 1;
        }
        a {
            display: flex;
            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
    &Items {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgba(255,255,255,0.4);
        gap: 1.5rem;
        padding: v.$padding-lg;
        z-index: 99;
        li {
            list-style-type: none;
            a {
                display: inline-block;
                transition: all 0.3s ease;
                font-weight: 500;
                text-shadow: 0 0 15px rgba(0,0,0,0.3);
                &:before {
                    content: "0";
                }
                &.active, &:hover {
                    // Add any other active styles you want
                    color: #FFF;
                }
            }
        }
    }
}